body {
    background-color: rgb(32, 29, 29);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    float: left;
    width: 200px;
    height: 40px;
    background-color: rgb(226, 235, 226);
    opacity: .9;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
}

ul li a {
    text-decoration: none;
    color: rgb(204, 59, 59);
    display: block;
}

ul li a:hover{
    background-color: lightsalmon;
}

ul li ul li {
    display: none;
}

ul li:hover ul li {
    display: block;
}